.container{
    position: relative;
    display: flex;
    height: 100vh;
    flex: 1;
}

.drag-box{
    position: absolute ;
    left: 0;
    top : 0;
    width: 200px;
    height: 200px ;
    font-size: 20px ;
    background-color: green ;
}
